.Car {
    margin-bottom: 5px;
    transition: border, box-shadow .3s;
}

.Input {
}

.Input:active, .Input:focus {
    outline: none;
}

.Input.bold {
    border: 2px solid green;
    font-weight: bold;
}

.Input.green {
    border: 1px solid green;
}

.Input.red {
    border: 1px solid red;
}