.Car {
    margin-bottom: 5px;
    transition: border, box-shadow .3s;
    border: 1px solid black;
    boxShadow: 0 4px 5px 0 black;
}

.Car:hover {
    border: 1px solid white;
    boxShadow: 0 6px 7px 8px green;
    cursor: pointer;
}

.Input {
}

.Input:active, .Input:focus {
    outline: none;
}

.Input.bold {
    border: 2px solid green;
    font-weight: bold;
}

.Input.green {
    border: 1px solid green;
}

.Input.red {
    border: 1px solid red;
}